{% extends 'base.html' %}
{% load static %}

{% block head %} 
<link rel="stylesheet" href="{% static 'blog/css/styles.css' %}">
<title>Update Post - Blog</title>
{% endblock head %} 

{% block main_area %}
    <h1>포스트 수정</h1>
    <hr>
    <div class="row">
        <form method="post" enctype="multipart/form-data" action="">
            <!-- CSRF: Cross-site request forgery -->
            {% csrf_token %}  
            <table>
                {{ form }}
                <tr>
                    <th><label for="id_tags_str">Tags:</label></th>
                    <td><input type="text" name="tags_str" id="id_tags_str" value="{{ tags_str_default }}"></td>
                </tr>
            </table>
            <button type="submit" class="btn btn-primary float-right">Submit</button>
        </form>
    </div>
{% endblock main_area %}