{% extends 'base.html' %}
{% load static %}

{% block head %} 
<link rel="stylesheet" href="{% static 'blog/css/styles.css' %}">
<title>{{ post.title }} - Blog</title>
{% endblock head %} 

{% block main_area %}
    <div class="row">
        <!-- Blog entries-->
        <div class="col-lg-8">
        {% if user.is_authenticated %}
            {% if user.is_superuser or user.is_staff %}
                <a href="/blog/create_post/" role="button" class="btn btn-info btn-sm float-right"><i class="bi bi-pencil"></i>&nbsp;&nbsp;New Post</a>
            {% endif %}
        {% endif %}
        <h1>Blog
            {% if category %}
            <span class="badge badge-secondary">{{ category }}</span>
            {% endif %}
            {% if tag %}
            <span class="badge badge-light"><i class="bi bi-tags-fill"></i>{{ tag }} ({{ tag.post_set.count }})</span>
            {% endif %}
    
        </h1>            

        {% if post_list.exists %}    
            <!-- Featured blog post-->
            {% for p in post_list %}
            <!-- Blog Post -->
            <div class="card mb-4" id="post-{{ p.pk }}">
                <!-- https://picsum.photos/ -->
                <!-- https://picsum.photos/800/100 -->
                {% if p.head_image %}
                <img class="card-img-top" src="{{ p.head_image.url }}" alt="{{ p.title }}">
                {% else %}
                <img class="card-img-top" src="https://picsum.photos/id/{{p.id}}/800/200" alt="Card image cap">
                {% endif %}
                <div class="card-body">
                    {% if p.category %}
                        <span class="badge badge-secondary float-right">{{ p.category }}</span>
                    {% else %}
                        <span class="badge badge-secondary float-right">미분류</span>
                    {% endif %}
                    <h2 class="card-title">{{ p.title }}</h2>
                    {% if p.hook_text %}
                        <h5 class="text-muted">{{ p.hook_text }}</h5>
                    {% endif %}
                    <p class="card-text">{{ p.content | truncatewords:45 }}</p>
                    <!-- tag 추가 -->
                    {% if p.tags.exists %}
                        <i class="bi bi-tags-fill"></i>
                        {% for tag in p.tags.iterator%}
                            <a href="{{ tag.get_absolute_url }}"><span class="badge badge-light">{{ tag }}</span></a>
                        {% endfor %}
                        <br>
                        <br>
                    {% endif %}
                    <a href="{{ p.get_absolute_url }}" class="btn btn-primary">Read More &rarr;</a>
                </div>
                <div class="card-footer text-muted">
                    Posted on {{ p.created_at }} by <a href="#">{{ p.author | upper }}</a>
                </div>
            </div>
            {% endfor %}
            <!-- Pagination-->
            <nav aria-label="Pagination">
                <hr class="my-0" />
                <ul class="pagination justify-content-center my-4">
                    <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1" aria-disabled="true">Newer</a></li>
                    <li class="page-item active" aria-current="page"><a class="page-link" href="#!">1</a></li>
                    <li class="page-item"><a class="page-link" href="#!">2</a></li>
                    <li class="page-item"><a class="page-link" href="#!">3</a></li>
                    <li class="page-item disabled"><a class="page-link" href="#!">...</a></li>
                    <li class="page-item"><a class="page-link" href="#!">15</a></li>
                    <li class="page-item"><a class="page-link" href="#!">Older</a></li>
                </ul>
            </nav>
        {% endif %}
        </div>
        {% include './blog_side.html' %}
    </div>
{% endblock main_area %}

{% block script %}
<!-- Core theme JS-->
<script src="{% static 'blog/js/scripts.js' %}"></script>
{% endblock script %}